.Signup {
  text-align: center;
}
.Signup-content p {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-left: 40%;
}
.Signup-content {
  display: flex;
  flex-wrap: wrap;
}
.Signup-content a {
  width: 20%;
  margin-left: 40%;
  text-decoration: none;
  color: rgb(40, 163, 240);
  font-weight: 600;
  margin-top: 2em;
  height: 1.5em;
  font-weight: bold;
  border-radius: 5px;
  border: 1px solid rgb(0, 0, 0, 0.4);
  background-color: rgb(40, 163, 240);
  color: whitesmoke;
  font-size: 3vh;
}
#Login-nav {
  font-weight: bold;
  color: rgb(40, 163, 240);
  border: none;
  width: 5%;
  background-color: white;
  margin: 0;
}
.SignupHeader {
  margin: 2em;
  display: flex;
  flex-wrap: wrap;
}
.SignupHeader h2 {
  text-align: end;
  width: 52%;
  margin-left: 2.4em;
}
.SignupHeader a {
  color: rgb(0, 0, 0, 0.6);
  font-weight: bold;
  text-decoration: none;
  margin-top: 4vh;
  width: 40%;
  font-size: 1.2em;
}
.SignupHeader p {
  color: rgb(40, 163, 240);
  width: 100%;
  font-weight: bold;
}
