.Header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.Header img {
  width: 8%;
  margin-left: 5em;
}

.Header a {
  text-decoration: none;
  font-weight: 400;
  margin-left: 3em;
  font-size: 1.2em;
  color: rgb(0, 0, 0, 0.8);
  width: 4em;
  height: 1.2em;
  border-radius: 5px;
  background-color: rgb(122, 202, 252);
}

.registry {
  width: 25%;
  margin-right: 4em;
  margin-top: 2.5em;
  margin-bottom: 1em;
  margin-left: 30em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.Hero img {
  width: 100%;
  height: 25em;
  object-fit: cover;
  position: relative;
}

.Hero-Title h2 {
  font-size: 3em;
  font-weight: 500;
  color: rgb(255, 255, 255, 0.8);
  margin: 2vh 0;
  font-family: Arial, Helvetica, sans-serif;
}

.Hero-Title button {
  font-size: 1em;
  font-weight: 800;
  padding: 10px;
  background-color: rgb(122, 202, 252);
  color: rgb(0, 0, 0, 0.8);
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
}

.Hero-Title {
  color: whitesmoke;
  position: absolute;
  top: 45%;
  left: 10%;
}

.Footer {
  height: 4em;
  margin-top: 0;
  margin: 1.5em 0;
}

.Footer-Content {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 1em;
}

.Footer-Content a {
  font-weight: bold;
  text-decoration: none;
  color: rgb(40, 163, 240);
}

.Footer-Content span {
  font-family: cursive;
}

.listimage {
  width: 10%;
}

.Eventlists {
  /* width: 90%; */
}

.gridlist {
  /* margin: 1rem; */
}
