.EmailHeader {
  display: flex;
  flex-wrap: wrap;
}
.EmailHeader img {
  border-radius: none;
  width: 8%;
}
.EmailHeader a {
  text-decoration: none;
  color: rgb(40, 163, 240);
  font-weight: bold;
  margin-left: 75%;
}
.Email {
  text-align: center;
}

.Form-data {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 4em;
}
.Form-data h2 {
  width: 100%;
  text-align: center;
  font-weight: 400;
  margin-top: 2em;
  margin-bottom: 2em;
}
.Form-data span {
  width: 100%;
  margin-left: 2%;
}
.Email-form {
  margin-left: 8vh;
}
.User-form {
  margin-left: 1.4vh;
}
.Password-form {
  margin-left: 2.2vh;
}
.submit {
  margin-top: 1em;
  margin-left: 40%;
  font-size: 1em;
  border-radius: 5px;
  background-color: rgb(40, 163, 240);
  color: whitesmoke;
  font-weight: bold;
}
/* .Footer {
  margin-top: 8em;
} */
.Footer span {
  margin-left: 2em;
}
