.Container {
  font-family: sans-serif;
  font-size: 1em;
}
.Login {
  text-align: center;
  position: relative;
}
.Login form {
  display: flex;
  flex-wrap: wrap;
}
.Login form input {
  margin-left: 2vh;
  width: 20%;
  border: 0;
  box-shadow: none;
  outline: 0;
  background: none;
  border-bottom: 1px solid rgb(0, 0, 0, 0.4);
}
.Login span {
  margin-top: 1em;
  width: 100%;
}
#submit-btn {
  margin-left: 40%;
  margin-top: 2em;
  width: 20%;
  background-color: rgb(40, 163, 240);
  color: whitesmoke;
  font-size: 3vh;
  font-weight: bold;
  border-radius: 5px;
  border: 1px solid rgb(0, 0, 0, 0.4);
}
#continue-btn {
  width: 20%;
  margin-top: 2em;
  font-weight: bold;
  border-radius: 5px;
  border: 1px solid rgb(0, 0, 0, 0.4);
  background-color: rgb(40, 163, 240);
  color: whitesmoke;
  font-size: 3vh;
}
.LoginHeader {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2em;
  color: rgb(0, 0, 0, 0.9);
}
.LoginHeader h2 {
  text-align: end;
  width: 52%;
  margin-left: 2.4em;
}
.LoginHeader p {
  width: 100%;
  color: rgb(40, 163, 240);
  font-weight: bold;
}
#Navlink {
  color: rgb(0, 0, 0, 0.6);
  text-decoration: none;
  margin-top: 4vh;
  width: 40%;
  font-size: 1.2em;
}
.Login a {
  text-decoration: none;
  color: rgb(40, 163, 240);
  font-weight: 600;
}
